// 3rd-party dependencies
// --------------------------------------------------------
@import '../vendor/bootstrap-3.3.7/css/bootstrap.min.css';
@import '../vendor/bootstrap-3.3.7/css/bootstrap-theme.min.css';
@import '../vendor/zakra/css/zakra.css';

@import 'app.css'
@import 'theme/frontend.min.css';
@import 'theme/post-33.css';

// 1st-party dependencies, helpers & utilities
// --------------------------------------------------------
@import 'mixins';

// Font and Image URLs
// --------------------------------------------------------
$dark-bg-texture = '/images/dark-sharp-edges.png';

// Hide functionality that presumes WP stylesheets are enabled
.sharedaddy {
  display: none;
}
