/* posts page*/
.entry-meta>div {
    margin-right: 1.5rem;
    display: inline-block;
}
.entry-meta {
    margin: 0 0 1.5em;
    border: 0 solid #e9ecef;
}

.entry-meta .term{
  margin: 0 0 0 0.4em;
}

.hentry {
    margin: 0 0 5em;
    border: 0 solid #e9ecef;
}
.entry-content {
    margin: 0 0 3em;
}
.entry-title {
    margin: 0 0 .5em;
    font-size: 2.25rem;
    word-wrap: break-word;
}
.post-thumbnail {
    margin: 0 0 1.5em;
}
.posts.site-content {
    margin-top: 80px;
    margin-bottom: 80px;
}


/* about page*/
.about-us{


}

.about-us .elementor-widget-container {
  text-align: center;
}
.about-us .elementor-0625c9d .elementor-heading-title {
  margin: 0 0 -56px 0;
  color: #f6f6f6;
font-family: "Roboto",Sans-serif;
font-size: 120px;
font-weight: 700;
text-transform: uppercase;
}

.about-us  .elementor-widget-divider  .elementor-divider {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.about-us .elementor-widget-divider .elementor-divider {
    line-height: 0;
    font-size: 0;
}

.about-us .elementor-widget-divider .elementor-divider .elementor-divider-separator {
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #3006a1;
    width: 60px;
}

.about-us  .elementor-element.elementor-element-8a6c2d4 {
    width: 70%;
    margin-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
}

.about-us .achievement.flex {
  justify-content:space-around;
}
.about-us .achievement {

  overflow: hidden;
  transition: background 0.3s,border 0.3s,border-radius 0.3s,box-shadow 0.3s;
  margin-top: 73px;
  margin-bottom: 73px;
  padding: 115px 0 115px 0;
  background-color: #f8f9fb;
}
.about-us .achievement .elementor-widget-container {
    padding: 50px 0 22px 0;
}
.about-us .achievement .elementor-counter-number-wrapper {
    font-family: Sans-serif;
    font-size: 40px;
    font-weight: 800;
    line-height: 24px;
}

.about-us .achievement .elementor-counter-title {
    color: #212529;
    font-family: Sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 66px;
}

/*faq*/

.faq .elementor-accordion .elementor-tab-content.collapse.in{
  display: block;
}

.faq .elementor-accordion .elementor-accordion-item {
    border-width: 10px;
    border-color: #fff;
    border-style: solid;
}

.faq .elementor-accordion .elementor-tab-content2 {
  border-width: 10px 0;
  border-color: #fff;
  border-style: solid;
  background-color: #f8f9fa;
  color: #3006a1;
  font-size: 14px;
  font-weight: 400;
  padding: 15px 20px;

}

.faq .elementor-accordion .elementor-tab-title {
    background-color: #f8f9fa;
    color: #212529;
    font-family: "Nunito Sans",Sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.faq .wrapper{
  margin: 138px 0 138px 0;
  padding: 0 0 0 0;
}

/* footer */
.tg-site-footer .tg-site-footer-bar {
    background-color: #f8f9fa;
    background-image: ;
    background-repeat: repeat;
    background-position: center center;
    background-size: contain;
    background-attachment: scroll;
}

.tg-site-footer .tg-site-footer-bar {
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 0 solid #e9ecef;
    border-top-width: 1px;
    border-top-color: #f1f2f3;
}
