{{> header }}
<main id="main" class="site-main">
  {{> pageHeader }}

  <div id="content" class="site-content">

    <div class="tg-container tg-container--flex tg-container--flex-space-between">
      <div id="primary" class="">

        <div class="filters">
          <div class="zakra-sites-container tg-container--flex tg-container--flex-center tg-container--flex-space-between">
            <div class="filter-left-contents">
              <div class="filter-section category">
                <div class="button-group" data-filter-group="category">

                  {{#each filters as |filter idx| }}
                    <a class="button button-no-round category-tab {{#if filter.active}}is-checked{{/if}}" data-filter="*" href="{{caseByTermUrl filter}}">{{filter.name}}</a>
                  {{/each}}

                </div>
              </div>

            </div>
            <div class="filter-section search"><input type="text" class="quicksearch" placeholder="Search"></div>
          </div>
        </div>

        <div class="row case-list">
          {{#each posts as |post idx|}}

            <div   class="activity-item  col-sm-4">
              <div  class="list-item">
                <a  href="{{caseUrl post}}" class="">
                  <div  class="img-box">
                    {{#if post.Slides}}
                      <img  src="{{gameRoundSlideUrl post}}" alt="第三方微信投票系统">
                    {{else}}
                      <div class="placeholder"> </div>
                    {{/if}}
                  </div>
                  <p   title="{{post.name}}" class="item-title ellipsis">
                    {{post.name}}
                  </p>
                  <div  class="icon-msg">
                    <div  title="总票数" class="icon-msg-item">
                      <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                      <span class="val">{{ post.finalVisitCount}} </span></div>
                    <div  title="选手数" class="icon-msg-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span  class="val">
                      {{post.album_count}}
                    </span></div>
                    <div  title="访问量" class="icon-msg-item">
                      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> <span class="val" >  {{post.finalResultCount}} </span>
                    </div>
                  </div>
                </a></div>
            </div>
            {{!-- .post --}}

          {{/each}}

        </div><!-- .row -->
        <div class="row">
          <div class="col-md-12">
            {{> pagination  }}
          </div>
        </div>

      </div><!-- #primary -->

    </div>
  </div><!-- #content -->
</main>
{{> footer }}
