{{> header }}
<main id="main" class="site-main">
  {{> pageHeader }}

  <div id="content" class="site-content case-detail">

    <div class="tg-container tg-container--flex tg-container--flex-space-between">
      <div id="primary" class="">
        <div class="wrapper pc">
          <div  class="case-detail-box">
            <div  class="left-div">
              <div  class="iframe-box"><iframe  src="{{gamePreviewUrl gameRound}}" frameborder="0"></iframe></div>
              <div   class="h-endact-warp p20 bb">
                <div  class="endact">
                  <div  class="pro-title flex-b f16">
                    <div  class="title-name">微信投票活动</div> <a  href="/ncase" class="blue f14">查看更多</a>
                  </div>
                  <div  class="endact-list"><a  href="/case/details/2391?uid=723" class="ellipsis" title="滨州市“中国梦·新时代·祖国颂”百姓宣讲投票">
                      滨州市“中国梦·新时代·祖国颂”百姓宣讲投票
                    </a><a  href="/case/details/2381?uid=422" class="ellipsis" title="诵读【民进专场】投票">
                      诵读【民进专场】投票
                    </a><a  href="/case/details/2364?uid=1194" class="ellipsis" title="河南中医药大学第三附属医院“迎接第二届医师节优秀医师评选”">
                      河南中医药大学第三附属医院“迎接第二届医师节优秀医师评选”
                    </a><a  href="/case/details/2317?uid=728" class="ellipsis nuxt-link-exact-active nuxt-link-active" title="泡泡之星投票活动开始啦！赶快为你心仪的小选手打call!">
                      泡泡之星投票活动开始啦！赶快为你心仪的小选手打call!
                    </a><a  href="/case/details/2246?uid=350" class="ellipsis" title="笔畅作文暑期班教学成果评赏投票活动">
                      笔畅作文暑期班教学成果评赏投票活动
                    </a><a  href="/case/details/2237?uid=1119" class="ellipsis" title="京九才艺展评选活动">
                      京九才艺展评选活动
                    </a><a  href="/case/details/2223?uid=1110" class="ellipsis" title="”钙”世英雄”益”起来陈列PK赛">
                      ”钙”世英雄”益”起来陈列PK赛
                    </a><a  href="/case/details/2194?uid=1091" class="ellipsis" title="江淮汽车2019届新员工微视频创作赛投票开始啦！">
                      江淮汽车2019届新员工微视频创作赛投票开始啦！
                    </a><a  href="/case/details/2167?uid=1056" class="ellipsis" title="遇见七夕，爱就大声说出来">
                      遇见七夕，爱就大声说出来
                    </a><a  href="/case/details/2142?uid=1015" class="ellipsis" title="艺心美学空间“人气之星”评选活动">
                      艺心美学空间“人气之星”评选活动
                    </a></div>
                </div>
              </div>
              <div data-v-27586ab0=""  class="h-problem-warp p20 bb">
                <div data-v-27586ab0="" class="problem">
                  <div data-v-27586ab0="" class="pro-title flex-b f16">
                    <div data-v-27586ab0="" class="title-name">常见问题</div> <a data-v-27586ab0="" href="/help/all" class="blue f14">查看更多</a>
                  </div>
                  <div data-v-27586ab0="" class="problem-list"><a data-v-27586ab0="" href="/help/detail/58" class="ellipsis" title="微信投票系统_哪个微信投票制作平台比较好">
                      微信投票系统_哪个微信投票制作平台比较好
                    </a><a data-v-27586ab0="" href="/help/detail/60" class="ellipsis" title="微信公众平台投票系统免费创建单选活动、多选活动、必选活动">
                      微信公众平台投票系统免费创建单选活动、多选活动、必选活动
                    </a><a data-v-27586ab0="" href="/help/detail/59" class="ellipsis" title="第三方微信公众平台投票系统免费创建微信评选活动">
                      第三方微信公众平台投票系统免费创建微信评选活动
                    </a><a data-v-27586ab0="" href="/help/detail/11" class="ellipsis" title="如何在微信公众号上发布微信投票活动">
                      如何在微信公众号上发布微信投票活动
                    </a><a data-v-27586ab0="" href="/help/detail/630" class="ellipsis" title="兴业集团十大杰出青年即将开启_微信公众平台投票活动">
                      兴业集团十大杰出青年即将开启_微信公众平台投票活动
                    </a><a data-v-27586ab0="" href="/help/detail/146" class="ellipsis" title="如何在第三方微信投票系统制作平台上创建微信投票活动">
                      如何在第三方微信投票系统制作平台上创建微信投票活动
                    </a><a data-v-27586ab0="" href="/help/detail/63" class="ellipsis" title="怎样制作微信投票评选活动_微信图文投票系统">
                      怎样制作微信投票评选活动_微信图文投票系统
                    </a><a data-v-27586ab0="" href="/help/detail/534" class="ellipsis" title="微信评选投票系统_合肥首届“十佳商协会”评选活动">
                      微信评选投票系统_合肥首届“十佳商协会”评选活动
                    </a><a data-v-27586ab0="" href="/help/detail/601" class="ellipsis" title="领跑微信评选系统_滨州“双十佳品牌农产品”评选">
                      领跑微信评选系统_滨州“双十佳品牌农产品”评选
                    </a><a data-v-27586ab0="" href="/help/detail/261" class="ellipsis" title="领跑微信投票系统隆重上线移动端用户中心_手机上免费创建微信投票活动">
                      领跑微信投票系统隆重上线移动端用户中心_手机上免费创建微信投票活动
                    </a></div>
                </div>
              </div>
            </div>
            <div  class="msg-box">
              <div  class="title-box">
                <h1  class="title">{{gameRound.name}}</h1>
                <p  class="time"></p>
              </div>
              <div  class="msg-three-box">
                <div  class="msg-item">
                  <p  class="num">
                    {{gameRound.finalResultCount}}
                  </p>
                  <p >总票数</p>
                </div>
                <div  class="msg-item">
                  <p  class="num">
                    {{gameRound.album_count}}
                  </p>
                  <p >选手数</p>
                </div>
                <div  class="msg-item">
                  <p  class="num">
                    {{gameRound.finalVisitCount}}
                  </p>
                  <p >访问量</p>
                </div>
              </div>
              <div class="QR-code">
                <div  id="qrcode" class="qr-img-box" data-src="{{gamePreviewUrl gameRound}}">
                </div>
                <p  class="img-describe">使用微信扫一扫查看活动</p>
              </div>
              <div  class="act-intro mb20">
                <h2  class="b-title">微信投票活动介绍</h2>
                <div  class="line"></div>
                <div  class="htmlWarp">
                  <pre class="html">
                    {{{gameRound.desc}}}
                  </pre>
                </div>
              </div>
              <div  class="act-item">
                <h2  class="b-title">微信投票参赛选手</h2>
                <div  class="line"></div>
                <div  class="act-item-list flex-b f14 c3">

                  {{#each gameAlbums as |album idx|}}
                  <div >
                    <div class="cover-div" style="background-image: url({{albumPhotoUrl album}});"></div>
                    <div  class="flex-b mt10 mb5"><span >{{album.position}}</span> <span >{{album.score}}票</span></div>
                    <div >{{album.name}}</div>
                  </div>
                  {{/each}}

                </div>
              </div>
              <div  class="more-act f14">
                {{#if preGameRound}}
                <div  class="mb10 flex-s"><span  class="mr5 c6">上一个活动</span> <a  href="{{caseUrl preGameRound}}" class="ellipsis" style="width: 450px;">{{preGameRound.name}}</a></div>
                {{/if}}
                {{#if nextGameRound}}
                <div  class="flex-s"><span  class="mr5 c6">下一个活动</span> <a  href="{{caseUrl nextGameRound}}" class="ellipsis" style="width: 450px;">{{nextGameRound.name}}</a></div>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div><!-- #primary -->

    </div>
  </div><!-- #content -->
</main>
{{> footer }}
