{{> header }}

<main id="main" class="site-main">
  {{> pageHeader }}

  <div id="content" class="site-content faq">

    <div class="tg-container tg-container--flex tg-container--flex-space-between">
      <div id="primary" class="content-area pagebuilder-content">

        <div class="wrapper">
         <div id="faq" class="elementor-widget-container"  role="tablist" aria-multiselectable="true">
           <div class="elementor-accordion" role="tablist">
             <div class="elementor-accordion-item">
               <div class="elementor-tab-title" data-tab="1" role="tab" aria-controls="elementor-tab-content-5041"> <span class="elementor-accordion-icon elementor-accordion-icon-left" aria-hidden="true"> <i
                     class="elementor-accordion-icon-closed fa fa-plus-square"></i> <i class="elementor-accordion-icon-opened fa fa-minus-square"></i> </span>
                     <a  role="button" data-toggle="collapse"  data-target="#elementor-tab-content-5041" data-parent="#faq" href="javascript:void(0)" >Where do I go to setup an account?</a>
                </div>
               <div id="elementor-tab-content-5041" class="elementor-tab-content2 collapse elementor-clearfix " data-tab="1" role="tabpanel" aria-labelledby="elementor-tab-title-5041" >
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a leo vel urna tincidunt dapibus. Mauris semper et massa at venenatis. Vivamus aliquam ultricies nibh, ut pharetra tellus eleifend placerat. Donec a bibendum ante. Cras
                   porttitor tincidunt risus, nec bibendum elit condimentum non. Ut convallis urna maximus iaculis suscipit. Praesent consequat pellentesque arcu in dictum. Integer sit amet bibendum velit. Nunc a consequat enim, sit amet congue odio.
                   Curabitur tempor molestie ligula, ac tristique felis luctus dictum. semper ultricies imperdiet.</p>
               </div>
             </div>
             <div class="elementor-accordion-item">
               <div id="elementor-tab-title-5042" class="elementor-tab-title" data-tab="2" role="tab" aria-controls="elementor-tab-content-5042"> <span class="elementor-accordion-icon elementor-accordion-icon-left" aria-hidden="true"> <i
                     class="elementor-accordion-icon-closed fa fa-plus-square"></i> <i class="elementor-accordion-icon-opened fa fa-minus-square"></i> </span>
                     <a  role="button" data-toggle="collapse" data-parent="#faq" data-target="#elementor-tab-content-5042" href="javascript:void(0)">What do I need to have to setup my account?</a></div>
               <div id="elementor-tab-content-5042" class="elementor-tab-content2 collapse  elementor-clearfix" data-tab="2" role="tabpanel" aria-labelledby="elementor-tab-title-5042">
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a leo vel urna tincidunt dapibus. Mauris semper et massa at venenatis. Vivamus aliquam ultricies nibh, ut pharetra tellus eleifend placerat. Donec a bibendum ante. Cras
                   porttitor tincidunt risus, nec bibendum elit condimentum non. Ut convallis urna maximus iaculis suscipit. Praesent consequat pellentesque arcu in dictum. Integer sit amet bibendum velit. Nunc a consequat enim, sit amet congue odio.
                   Curabitur tempor molestie ligula, ac tristique felis luctus dictum. semper ultricies imperdiet.</p>
               </div>
             </div>
             <div class="elementor-accordion-item">
               <div id="elementor-tab-title-5043" class="elementor-tab-title" data-tab="3" role="tab" aria-controls="elementor-tab-content-5043"> <span class="elementor-accordion-icon elementor-accordion-icon-left" aria-hidden="true"> <i
                     class="elementor-accordion-icon-closed fa fa-plus-square"></i> <i class="elementor-accordion-icon-opened fa fa-minus-square"></i> </span>
                     <a  role="button" data-toggle="collapse" data-parent="#faq" data-target="#elementor-tab-content-5043"  href="javascript:void(0)">What is the difference between the Mobile App and the Mobile Web App?</a></div>
               <div id="elementor-tab-content-5043" class="elementor-tab-content2 collapse  elementor-clearfix" data-tab="3" role="tabpanel" aria-labelledby="elementor-tab-title-5043">
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a leo vel urna tincidunt dapibus. Mauris semper et massa at venenatis. Vivamus aliquam ultricies nibh, ut pharetra tellus eleifend placerat. Donec a bibendum ante. Cras
                   porttitor tincidunt risus, nec bibendum elit condimentum non. Ut convallis urna maximus iaculis suscipit. Praesent consequat pellentesque arcu in dictum. Integer sit amet bibendum velit. Nunc a consequat enim, sit amet congue odio.
                   Curabitur tempor molestie ligula, ac tristique felis luctus dictum. semper ultricies imperdiet.</p>
               </div>
             </div>
             <div class="elementor-accordion-item">
               <div id="elementor-tab-title-5044" class="elementor-tab-title" data-tab="4" role="tab" aria-controls="elementor-tab-content-5044"> <span class="elementor-accordion-icon elementor-accordion-icon-left" aria-hidden="true"> <i
                     class="elementor-accordion-icon-closed fa fa-plus-square"></i> <i class="elementor-accordion-icon-opened fa fa-minus-square"></i> </span>
                     <a  role="button" data-toggle="collapse" data-parent="#faq" data-target="#elementor-tab-content-5044"  href="javascript:void(0)">Is my phone supported?</a></div>
               <div id="elementor-tab-content-5044" class="elementor-tab-content2  collapse elementor-clearfix" data-tab="4" role="tabpanel" aria-labelledby="elementor-tab-title-5044">
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a leo vel urna tincidunt dapibus. Mauris semper et massa at venenatis. Vivamus aliquam ultricies nibh, ut pharetra tellus eleifend placerat. Donec a bibendum ante. Cras
                   porttitor tincidunt risus, nec bibendum elit condimentum non. Ut convallis urna maximus iaculis suscipit. Praesent consequat pellentesque arcu in dictum. Integer sit amet bibendum velit. Nunc a consequat enim, sit amet congue odio.
                   Curabitur tempor molestie ligula, ac tristique felis luctus dictum. semper ultricies imperdiet.</p>
               </div>
             </div>
             <div class="elementor-accordion-item">
               <div id="elementor-tab-title-5045" class="elementor-tab-title" data-tab="5" role="tab" aria-controls="elementor-tab-content-5045"> <span class="elementor-accordion-icon elementor-accordion-icon-left" aria-hidden="true"> <i
                     class="elementor-accordion-icon-closed fa fa-plus-square"></i> <i class="elementor-accordion-icon-opened fa fa-minus-square"></i> </span>
                     <a  role="button" data-toggle="collapse" data-parent="#faq" data-target="#elementor-tab-content-5045"  href="javascript:void(0)">Is the Mobile App secure?</a></div>
               <div id="elementor-tab-content-5045" class="elementor-tab-content2 collapse  elementor-clearfix" data-tab="5" role="tabpanel" aria-labelledby="elementor-tab-title-5045" >
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a leo vel urna tincidunt dapibus. Mauris semper et massa at venenatis. Vivamus aliquam ultricies nibh, ut pharetra tellus eleifend placerat. Donec a bibendum ante. Cras
                   porttitor tincidunt risus, nec bibendum elit condimentum non. Ut convallis urna maximus iaculis suscipit. Praesent consequat pellentesque arcu in dictum. Integer sit amet bibendum velit. Nunc a consequat enim, sit amet congue odio.
                   Curabitur tempor molestie ligula, ac tristique felis luctus dictum. semper ultricies imperdiet.</p>
               </div>
             </div>
             <div class="elementor-accordion-item">
               <div id="elementor-tab-title-5046" class="elementor-tab-title" data-tab="6" role="tab" aria-controls="elementor-tab-content-5046"> <span class="elementor-accordion-icon elementor-accordion-icon-left" aria-hidden="true"> <i
                     class="elementor-accordion-icon-closed fa fa-plus-square"></i> <i class="elementor-accordion-icon-opened fa fa-minus-square"></i> </span>
                     <a  role="button" data-toggle="collapse" data-parent="#faq" data-target="#elementor-tab-content-5046"  href="javascript:void(0)">What features does the Mobile App have?</a></div>
               <div id="elementor-tab-content-5046" class="elementor-tab-content2  collapse elementor-clearfix" data-tab="6" role="tabpanel" aria-labelledby="elementor-tab-title-5046">
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a leo vel urna tincidunt dapibus. Mauris semper et massa at venenatis. Vivamus aliquam ultricies nibh, ut pharetra tellus eleifend placerat. Donec a bibendum ante. Cras
                   porttitor tincidunt risus, nec bibendum elit condimentum non. Ut convallis urna maximus iaculis suscipit. Praesent consequat pellentesque arcu in dictum. Integer sit amet bibendum velit. Nunc a consequat enim, sit amet congue odio.
                   Curabitur tempor molestie ligula, ac tristique felis luctus dictum. semper ultricies imperdiet.</p>
               </div>
             </div>
           </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</main>
{{> footer }}
