{{> header }}

<main id="main" class="site-main">
  {{> pageHeader }}

  <div id="content" class="site-content faq">

    <div class="tg-container tg-container--flex tg-container--flex-space-between">
      <div id="primary" class="content-area pagebuilder-content">

        <div class="wrapper">
         <div id="faq" class="elementor-widget-container"  role="tablist" aria-multiselectable="true">
           <div class="elementor-accordion" role="tablist">
             <div class="elementor-accordion-item">
               <div class="elementor-tab-title" data-tab="1" role="tab" aria-controls="elementor-tab-content-5041"> <span class="elementor-accordion-icon elementor-accordion-icon-left" aria-hidden="true"> <i
                     class="elementor-accordion-icon-closed fa fa-plus-square"></i> <i class="elementor-accordion-icon-opened fa fa-minus-square"></i> </span>
                     <a  role="button" data-toggle="collapse"  data-target="#elementor-tab-content-5041" data-parent="#faq" href="javascript:void(0)" >是否可以免费使用？</a>
                </div>
               <div id="elementor-tab-content-5041" class="elementor-tab-content2 collapse elementor-clearfix " data-tab="1" role="tabpanel" aria-labelledby="elementor-tab-title-5041" >
                 <p>
                   星投票的主要功能都是免费的，注册您的管理账号，设置一下投票活动相关内容，如: 描述、活动时间等，就可以发布您的投票活动了.</p>
               </div>
             </div>
             <div class="elementor-accordion-item">
               <div id="elementor-tab-title-5042" class="elementor-tab-title" data-tab="2" role="tab" aria-controls="elementor-tab-content-5042"> <span class="elementor-accordion-icon elementor-accordion-icon-left" aria-hidden="true"> <i
                     class="elementor-accordion-icon-closed fa fa-plus-square"></i> <i class="elementor-accordion-icon-opened fa fa-minus-square"></i> </span>
                     <a  role="button" data-toggle="collapse" data-parent="#faq" data-target="#elementor-tab-content-5042" href="javascript:void(0)">如何更换活动模板？</a></div>
               <div id="elementor-tab-content-5042" class="elementor-tab-content2 collapse  elementor-clearfix" data-tab="2" role="tabpanel" aria-labelledby="elementor-tab-title-5042">
                 <p>我们提供一些免费的活动模板，直接选择即用。您也可以通过上传，定制您的专属活动。
                   <br/> 如果还是没有满意，我们提供收费的设计服务，专业的设计师一定可以满足您的品牌定制需求。
                 </p>
               </div>
             </div>
             <div class="elementor-accordion-item">
               <div id="elementor-tab-title-5043" class="elementor-tab-title" data-tab="3" role="tab" aria-controls="elementor-tab-content-5043"> <span class="elementor-accordion-icon elementor-accordion-icon-left" aria-hidden="true"> <i
                     class="elementor-accordion-icon-closed fa fa-plus-square"></i> <i class="elementor-accordion-icon-opened fa fa-minus-square"></i> </span>
                     <a  role="button" data-toggle="collapse" data-parent="#faq" data-target="#elementor-tab-content-5043"  href="javascript:void(0)">如何设置活动介绍？</a></div>
               <div id="elementor-tab-content-5043" class="elementor-tab-content2 collapse  elementor-clearfix" data-tab="3" role="tabpanel" aria-labelledby="elementor-tab-title-5043">
                 <p>管理后台->活动管理->通用设置->活动介绍 <br>
                   <img title="如何设置活动介绍" alt="如何设置活动介绍" src="/images/faq/edit-desc2.jpg">
                 </p>
               </div>
             </div>
             <div class="elementor-accordion-item">
               <div id="elementor-tab-title-5044" class="elementor-tab-title" data-tab="4" role="tab" aria-controls="elementor-tab-content-5044"> <span class="elementor-accordion-icon elementor-accordion-icon-left" aria-hidden="true"> <i
                     class="elementor-accordion-icon-closed fa fa-plus-square"></i> <i class="elementor-accordion-icon-opened fa fa-minus-square"></i> </span>
                     <a  role="button" data-toggle="collapse" data-parent="#faq" data-target="#elementor-tab-content-5044"  href="javascript:void(0)">微信投票系统怎样导出活动票数统计或选手投票记录统计</a></div>
               <div id="elementor-tab-content-5044" class="elementor-tab-content2  collapse elementor-clearfix" data-tab="4" role="tabpanel" aria-labelledby="elementor-tab-title-5044">
                 <p>管理后台->活动管理->投票统计 <br>
                   <img title="导出活动票数统计" alt="导出活动票数统计" src="/images/faq/statis.jpg">
                 </p>
               </div>
             </div>
             <div class="elementor-accordion-item">
               <div id="elementor-tab-title-5045" class="elementor-tab-title" data-tab="5" role="tab" aria-controls="elementor-tab-content-5045"> <span class="elementor-accordion-icon elementor-accordion-icon-left" aria-hidden="true"> <i
                     class="elementor-accordion-icon-closed fa fa-plus-square"></i> <i class="elementor-accordion-icon-opened fa fa-minus-square"></i> </span>
                     <a  role="button" data-toggle="collapse" data-parent="#faq" data-target="#elementor-tab-content-5045"  href="javascript:void(0)">如何设置投票规则?</a></div>
               <div id="elementor-tab-content-5045" class="elementor-tab-content2 collapse  elementor-clearfix" data-tab="5" role="tabpanel" aria-labelledby="elementor-tab-title-5045" >
                 <p> 我们支持多种投票规则
                   <ul>
                     <li> 基于整个活动期间，每个人可以投票总数设置，即 1个人最多可以投几票 </li>
                     <li> 基于一个时间周期，每个人可以投票总数设置，即 1个人X天可以投几票 </li>
                   </ul>
                   </p>
               </div>
             </div>
             <div class="elementor-accordion-item">
               <div id="elementor-tab-title-5046" class="elementor-tab-title" data-tab="6" role="tab" aria-controls="elementor-tab-content-5046"> <span class="elementor-accordion-icon elementor-accordion-icon-left" aria-hidden="true"> <i
                     class="elementor-accordion-icon-closed fa fa-plus-square"></i> <i class="elementor-accordion-icon-opened fa fa-minus-square"></i> </span>
                     <a  role="button" data-toggle="collapse" data-parent="#faq" data-target="#elementor-tab-content-5046"  href="javascript:void(0)">
                       微信普通投票和微信关注投票有什么区别?</a></div>
               <div id="elementor-tab-content-5046" class="elementor-tab-content2  collapse elementor-clearfix" data-tab="6" role="tabpanel" aria-labelledby="elementor-tab-title-5046">
                 <p>微信投票包括微信普通投票和微信关注投票
                   <ul>
                     <li> 微信普通投票是用户无需关注您的公众号，用微信访问投票页时可以直接提交投票，是以微信身份计票。 </li>
                     <li> 微信关注投票是必须在微信中访问并且先关注发布者的微信公众账号才能提交投票, 同时要求您必须有一个认证的服务号，这样才能实现关注投票。</li>
                   </ul>
                </p>
               </div>
             </div>
           </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</main>
{{> footer }}
