{{> header }}
<main id="main" class="site-main">
  <div id="content" class="site-content">

    <div class="tg-container tg-container--flex tg-container--flex-space-between">
      <div id="primary" class="">
        <div class="row">
          {{#each posts as |post idx|}}
            <div class="post col-sm-6">
              <h2>
                <a href="{{postUrl post}}">
                  {{{post.title}}}
                </a>
              </h2>
              <p class="text-muted">by {{post.post_author}}</p>
              {{#if post.excerpt}}
                <p>{{{post.excerpt}}}</p>
              {{/if}}
            </div>{{!-- .post --}}

          {{/each}}

        </div><!-- .row -->
        <div class="row">
          <div class="col-md-12">
            {{> pagination }}
          </div>
        </div>
      </div><!-- #primary -->

      {{> sidebar sidebar }}
    </div>
  </div><!-- #content -->
</main>
{{> footer }}
