<a class="skip-link screen-reader-text" href="#content">Skip to content</a>

<header id="masthead" class="site-header tg-site-header tg-site-header--left">
  <div class="tg-site-header-bottom">
    <div class="tg-header-container tg-container tg-container--flex tg-container--flex-center tg-container--flex-space-between">
      <div class="site-branding">
        <div class="site-info-wrap">
          <p class="site-title">
            <a href="/" rel="home"> {{@koa.request.site.name}} </a>
          </p>
          <p class="site-description">{{@koa.request.site.description}}</p>
        </div>

      </div><!-- .site-branding -->

      {{>mainmenu}}
    </div>
    <!-- /.tg-container -->
  </div>
  <!-- /.tg-site-header-bottom -->

</header>
