{{#if pages.length }}

  <nav id="site-navigation" class="main-navigation tg-primary-menu tg-primary-menu--style-underline">

    <div class="menu">
      <ul id="primary-menu" class="menu-primary nav-menu" aria-expanded="false">

        {{#each pages }}
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item current_page_item">
            <a href="/{{post_name}}">{{{post_title}}}</a>
          </li>
        {{/each}}
        <li class="menu-item tg-header-button-wrap"><a href="https://zgame.ruanshan.com/backend" target="&quot;_blank&quot;">创建活动</a></li>
      </ul>
    </div>
  </nav><!-- #site-navigation -->

  <nav id="header-action" class="tg-header-action">
    <ul class="tg-header-action-list">

      <li class="tg-header-action__item tg-mobile-toggle">
        <i class="tg-icon tg-icon-bars"></i>
      </li>
      <!-- /.tg-mobile-toggle -->
    </ul>
    <!-- /.zakra-header-action-list -->
  </nav><!-- #header-action -->
{{/if}}
