<header class="tg-page-header tg-page-header--left">
  <div class="tg-container">
    <h1 class="tg-page-header__title">{{post.title}}</h1>
    <nav role="navigation" aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb">
      <ul class="trail-items" itemscope="" itemtype="http://schema.org/BreadcrumbList">
        <meta name="numberOfItems" content="3">
        <meta name="itemListOrder" content="Ascending">
        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="trail-item trail-begin">
          <a href="/" rel="home" itemprop="item"><span itemprop="name">Home</span></a>
          <meta itemprop="position" content="1">
        </li>
        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="trail-item trail-begin">
          <a href="/posts" rel="home" itemprop="item"><span itemprop="name">动态</span></a>
          <meta itemprop="position" content="2">
        </li>
        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="trail-item trail-end">
          <span itemprop="item"><span itemprop="name">{{post.title}}</span></span>
          <meta itemprop="position" content="3">
        </li>
      </ul>
    </nav>
  </div>
</header>
